.footer {
  max-width: 880px;
  margin: 0 auto;
  width: 100%;
}

.footer__text {
  color: #545454;
  margin: 0;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 637px) {
  .footer {
    margin: 0;
    margin-left: 68px;
  }

  .footer__text {
    padding: 0 19px;
    font-size: 14px;
    line-height: 15px;
  }
}
